/* stylelint-disable order/order */
.footer {
  padding-top: 26px;
  padding-bottom: 25px;
  background-color: var(--dark-color);

  &__left {
    flex-wrap: wrap;
    grid-column: 3 span;
    margin-bottom: 6px;

    &-text {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 14px;
      color: var(--light-grey);
    }
  }

  &__center {
    grid-column: 5 / 4 span;
    padding-right: 35px;
  }

  &__text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    color: var(--silver);
  }

  &__right {
    flex-wrap: wrap;
    grid-column: 11 / 2 span;
    padding-left: 29px;
  }

  &__social {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
  }

  &__logo {
    outline: 0 solid transparent;
    transition: outline 0.3s ease-in-out;
  }
}

.ok,
.vk {
  width: 30px;
  height: 30px;
  fill: var(--silver);
  transition: fill 0.3s ease-in-out;

  @include hover {
    fill: var(--orange-red);
  }

  &:active {
    fill: var(--dark-orange);
  }
}

.footer__ok.focus-visible,
.footer__vk.focus-visible {
  outline: 0 solid transparent;

  .vk,
  .ok {
    fill: var(--brown);
  }
}

.footer__ok.focus-visible:active {
  .ok {
    fill: var(--dark-orange);
  }
}

.footer__vk.focus-visible:active {
  .vk {
    fill: var(--dark-orange);
  }
}

.footer__logo.focus-visible {
  outline: 2px solid var(--brown);
}