<section class="contact">
  <div class="container">
    <h3 class="contact__title">Контакты</h3>
    <div class="contact__content grid">
      <div class="contact__left grid">
        <div class="contact__picture">
          <picture class="contact__img" loading="lazy">
            <source srcset="../img/map_mobile.jpg" media="(max-width: 576px)">
            <source srcset="../img/map_mini-tablet.jpg" media="(max-width: 992px)">
            <source srcset="../img/map_tablet.jpg" media="(max-width: 1024px)">
            <img src="../img/map.jpg" srcset="../img/map_2x.jpg" alt="Map">
          </picture>
          <div class="contact__main">
            <div class="contact__text-inner">
              <h1 class="contact__main-title">Студия «High pass»</h1>
              <p class="contact__address">107045, Москва, Даев переулок, дом 41, бизнес-центр «Даев Плаза», этаж 8, офис № 82</p>
              <div class="contact__call flex">
                <a href="tel:749542423532" class="contact__phone flex">
                  <svg class="contact__call-svg">
                    <use xlink:href="../img/sprite.svg#call"></use>
                  </svg>
                  +7 495 424-23-532
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contact__right">
        <h3 class="contact__subtitle">Оставить заявку</h3>
        <p class="contact__descr">Оставьте ваши данные, указав в графе «Комментарий» желаемые время и дату съёмки или другого мероприятия</p>
        <form action="https://jsonplaceholder.typicode.com/posts" class="contact__form flex">
          <div class="input-wrapper w-100">
            <input type="text" class="placeholder contact__form-name w-100" id="name" placeholder="Имя" pattern="[a-zA-Zа-яА-Я].*">
            <div class="error-message"></div>
          </div>
          <div class="input-wrapper w-100">
            <input type="email" id="contact_email" placeholder="Email" class="placeholder contact__email w-100" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <div class="error-message"></div>
          </div>
          <div class="input-wrapper w-100">
            <textarea name="message" id="message" cols="30" rows="6" class="placeholder contact__textarea w-100" placeholder="Комментарий"></textarea>
          </div>
          <button class="btn btn-reset contact__btn">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>
