<header class="header">
  <div class="container header__container grid">
    <div class="flex header__logo">
      <a><img src="../img/logo.svg" alt="Logo"></a>
    </div>
    <nav class="nav header__nav" aria-label="Главная">
      <ul class="list-reset nav__list flex">
        <li class="nav__item"><a href="#" class="nav__link">О студии</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Наши проекты</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Услуги</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Мастер классы</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
      </ul>
    </nav>
    <div class="btn flex header__btn">
      <button aria-label="Поиск" class="btn-reset search">
        <!-- <img src="../img/search.svg" alt="Search"> -->
        <svg class="header__search">
          <use xlink:href="../img/sprite.svg#search"></use>
        </svg>
      </button>
    </div>
  </div>
</header>

