<section class="hero">
  <div class="container hero__container grid">
    <div class="hero__main">
      <p class="hero__descr">Мастер-класс от Игоря Робова</p>
      <h2 class="hero__title">Неоновый фотосет 2.0 7 июля 20:00</h2>
      <button class="btn btn-reset hero__btn">Узнать больше</button>
      <p class="hero__master-class">#мастеркласс</p>
    </div>
    <div class="hero__submain">
      <h3 class="hero__subtitle">Работы участников предыдущего мастер-класса</h3>
      <div class="hero__submain-card grid">
        <img src="../img/hero_2.jpg" alt="Girl" class="hero__submain-img">
        <img src="../img/hero_3.jpg" alt="Girl" class="hero__submain-img">
        <img src="../img/hero_4.jpg" alt="Girl" class="hero__submain-img">
      </div>
    </div>
  </div>
</section>
