<section class="hero">
  <div class="container hero__container grid">
    <div class="hero__main" id="masster-class">
      <p class="hero__descr">Мастер-класс от Игоря Робова</p>
      <h2 class="hero__title">Неоновый фотосет 2.0 7 июля 20:00</h2>
      <button class="btn btn-reset hero__btn">Узнать больше</button>
      <p class="hero__master-class">#мастеркласс</p>
    </div>
    <div class="hero__submain">
      <h3 class="hero__subtitle">Работы участников предыдущего мастер-класса</h3>
      <div class="hero__submain-card grid">
        <picture class="hero__submain-img">
          <source srcset="../img/hero_2_mini-tablet.jpg" media="(max-width: 992px)">
          <source srcset="../img/hero_2_tablet.jpg" media="(max-width: 1024px)">
          <img src="../img/hero_2.jpg" srcset="../img/hero_2_2x.jpg" alt="Girl" loading="lazy">
        </picture>
        <picture class="hero__submain-img">
          <source srcset="../img/hero_3_mini-tablet.jpg" media="(max-width: 992px)">
          <source srcset="../img/hero_3_tablet.jpg" media="(max-width: 1024px)">
          <img src="../img/hero_3.jpg" srcset="../img/hero_3_2x.jpg" alt="Girl" loading="lazy">
        </picture>
        <picture class="hero__submain-img">
          <source srcset="../img/hero_4_mini-tablet.jpg" media="(max-width: 992px)">
          <source srcset="../img/hero_4_tablet.jpg" media="(max-width: 1024px)">
          <img src="../img/hero_4.jpg" srcset="../img/hero_4_2x.jpg" alt="Girl" loading="lazy">
        </picture>
      </div>
    </div>
  </div>
</section>
