<section class="project">
  <div class="container grid">
    <h3 class="project__title">Наши проекты</h3>
    <div class="project__content grid">
      <div class="project__card-1 flex">
        <img src="../img/project_1.jpg" alt="пейзаж" class="project__img">
        <p class="project__card-1-descr">Синтетически, смешаны с не уникальными данными до степени…</p>
        <div class="project__card-1-date">
          <svg class="calendar" viewBox="0 0 32 32">
            <use xlink:href="../img/sprite.svg#calendar"></use>
          </svg>
          <span class="project__card-1-text">16 июня</span>
        </div>
        <span class="project__sticker">#пейзаж</span>
      </div>
      <div class="project__card-1 flex">
        <img src="../img/project_2.jpg" alt="портрет" class="project__img">
        <p class="project__card-1-descr">Синтетически, смешаны с не уникальными данными до степени…</p>
        <div class="project__card-1-date">
          <svg class="calendar" viewBox="0 0 32 32">
            <use xlink:href="../img/sprite.svg#calendar"></use>
          </svg>
          <span class="project__card-1-text">28 мая</span>
        </div>
        <span class="project__sticker">#портрет</span>
      </div>
      <div class="project__card-1 flex">
        <img src="../img/project_3.jpg" alt="предмет" class="project__img">
        <p class="project__card-1-descr">Синтетически, смешаны с не уникальными данными до степени…</p>
        <div class="project__card-1-date">
          <svg class="calendar" viewBox="0 0 32 32">
            <use xlink:href="../img/sprite.svg#calendar"></use>
          </svg>
          <span class="project__card-1-text">14 мая</span>
        </div>
        <span class="project__sticker">#предмет</span>
      </div>
      <div class="project__card-bg project__card-bg-1 flex">
        <div class="project__card-bg-content">
          <div class="project__card-1-date project__card-1-date-bg">
            <svg class="calendar calendar-bg" viewBox="0 0 32 32">
              <use xlink:href="../img/sprite.svg#calendar"></use>
            </svg>
            <span class="project__card-1-text--bg">9 апреля</span>
          </div>
          <h3 class="project__subtitle">Cемантический разбор</h3>
          <p class="project__card-1-descr project__card-1-descr--bg">В рамках спецификации современных стандартов, интерактивные прототипы</p>
          <span class="project__sticker">#fuji</span>
        </div>
        <div class="project__card-bg-bottom">
          <button class="btn btn-reset project__btn">О проекте</button>
        </div>
      </div>
      <div class="project__card-bg project__card-bg-2 flex">
        <div class="project__card-bg-content">
          <div class="project__card-1-date project__card-1-date-bg">
            <svg class="calendar calendar-bg" viewBox="0 0 32 32">
              <use xlink:href="../img/sprite.svg#calendar"></use>
            </svg>
            <span class="project__card-1-text--bg">20 марта</span>
          </div>
          <h3 class="project__subtitle">Забвение</h3>
          <p class="project__card-1-descr project__card-1-descr--bg">Играет важную роль в формировании глубокомысленных рассуждений</p>
          <span class="project__sticker">#проектзабвение</span>
        </div>
        <div class="project__card-bg-bottom">
          <button class="btn btn-reset project__btn">О проекте</button>
        </div>
      </div>
      <div class="project__card-1 project__card-1--gc flex">
        <img src="../img/project_4.jpg" alt="предмет" class="project__img">
        <p class="project__card-1-descr">Как принято считать, многие известные личности и по сей день остаются уделом либералов…</p>
        <div class="project__card-1-date">
          <svg class="calendar" viewBox="0 0 32 32">
            <use xlink:href="../img/sprite.svg#calendar"></use>
          </svg>
          <span class="project__card-1-text">9 марта</span>
        </div>
        <span class="project__sticker">#ретушь</span>
      </div>
      <div class="project__card-1 project__card-1--gc flex">
        <img src="../img/project_5.jpg" alt="предмет" class="project__img">
        <p class="project__card-1-descr">Как принято считать, многие известные личности и по сей день остаются уделом либералов…</p>
        <div class="project__card-1-date">
          <svg class="calendar" viewBox="0 0 32 32">
            <use xlink:href="../img/sprite.svg#calendar"></use>
          </svg>
          <span class="project__card-1-text">1 марта</span>
        </div>
        <span class="project__sticker">#портрет</span>
      </div>
    </div>
  </div>
</section>
